{% extends "layout/default.twig" %}

{% set page_title = "My page title" %}
{% set page_id = "page1" %}
{% set page_css = "page body-page white" %}


{% block body %}

    <div class="section">
        <div class="wrap">
            BODY CONTAIN
        </div>
    </div>

{% endblock %}



{% block styles %}
<style>
    /*  Custom Styles for this page */
</style>
{% endblock %}


{% block scripts %}
<script>
    // Custom scripts for this page
</script>
{% endblock %}
